<div class="row">
  <div class="column column-50">
    <h1>Insights</h1>
    <p>Sites that were successfully scanned by WPScan, and for which it found something to report.</p>
  </div>
</div>

<hr />

<%= for site <- @sites do %>
  <%= for monitor <- site.monitors do %>
    <%= if findings(monitor) != nil do %>
      <h3><%= site.base_url %>: <span>WP <%= core_version(monitor) %></span></h3>

      <div class="row" style="margin-bottom:10px;">
        <div class="column">
          <%= if core_vulns(monitor) != [] do %>
            <h4>Possible core vulns</h4>
            <%= for vuln <- core_vulns(monitor) do %>
              <a href="<%= Enum.at(vuln["references"]["url"], 0) %>" title="_blank"><%= vuln["title"] %></a><br />
            <% end %>
          <% end %>
        </div>
        <div class="column">
          <%= if vulns(monitor) != [] do %>
            <h4>Possible plugin vulns</h4>
            <%= for {vuln_name, vuln_data} <- vulns(monitor) do %>
              <span><strong><%= vuln_name %> (<%= vuln_data["version"]["number"] %>)</strong></span><br />
              <%= for vulnerability <- vuln_data["vulnerabilities"] do %>
                <span><a href="<%= vuln_url(vulnerability) %>" target="_blank"><%= vulnerability["title"] %> (fixed in: <%= vulnerability["fixed_in"] %>)</a></span><br />
             <% end %>
            <% end %>
          <% end %>
        </div>

      </div>

      <h4>Interesting entries</h4>
      <table class="c-insights-table">
        <thead>
          <tr>
            <th>Type</th>
            <th>URL</th>
            <th>Interesting entries</th>
          </tr>
        </thead>
        <tbody>
          <%= for finding <- findings(monitor) do %>
            <tr id="<%= site.id %>">
              <td><%= finding["type"] %></td>
              <td>
                <a target="_blank" href="<%= finding["url"] %>"><%= finding["url"] %></a>
              </td>
              <td>
                <%= for entry <- finding["interesting_entries"] do %>
                  <%= entry %> <br />
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% end %>
