/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.site-title { font-size: 18px !important; margin:0; }
.site-header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fafafa;
    margin-bottom: 35px;
}
.text-right {
    text-align: right;
}
h1 {
    font-size: 3.8rem !important;
}

.container {
  max-width: 1700px !important;
}

input[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
}

.transition-fade {
    transition: .15s ease-in;
    opacity: 1;
}
html.is-animating .transition-fade{
    opacity: 0;
}

table img {
    max-height: 50px;
}

table img:hover {
    opacity: 0.85;
}

.c-graph {
    border: 1px solid #f0f0f0;
    margin-bottom: 2rem;
}

td, th {
    border-bottom-color: #f0f0f0 !important;
}

.c-insights-table {
    table-layout: fixed;
}

.navigation_list {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation_list a {
    display: inline;
    list-style: none;
    margin: 0 20px;
}

.navigation_list a.active {
    border-bottom: 1px solid #9b4dca;
}

.c-site-index thead {
    position: sticky;
    top: 0;
    background: #fff;
}

.c-insights-table + h3 {
    margin-top: 2.5em;
}

.c-site-logo {
    float: left;
    font-size: 25px !important;
    vertical-align: middle;
    margin: 0;
}
