/* This file is for your main application css. */

@import "./phoenix.css";
.site-title { font-size: 18px !important; margin:0; }
.site-header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fafafa;
    margin-bottom: 35px;
}
.text-right {
    text-align: right;
}
h1 {
    font-size: 3.8rem !important;
}

.container {
  max-width: 1700px !important;
}

input[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
}

.transition-fade {
    transition: .15s ease-in;
    opacity: 1;
}
html.is-animating .transition-fade{
    opacity: 0;
}

table img {
    max-height: 50px;
}

table img:hover {
    opacity: 0.85;
}

.c-graph {
    border: 1px solid #f0f0f0;
    margin-bottom: 2rem;
}

td, th {
    border-bottom-color: #f0f0f0 !important;
}
