<div class="row">
    <div class="column column-50">
        <h1>Insights</h1>
    </div>
    <div class="column column-50 text-right">
        <span><%= link "Back", to: Routes.site_path(@conn, :index), class: "button button-outline" %></span>
    </div>
</div>

<hr />

<div class="c-graph"><div class="js-plotly-insights"></div></div>
