<div class="row">
    <div class="column">
        <h1>Edit Site</h1>
    </div>
    <div class="column text-right">
        <span><%= link "Back", to: Routes.site_path(@conn, :show, @site), class: "button button-outline" %></span>
    </div>
</div>

<hr />

<%= render "form_edit.html", Map.put(assigns, :action, Routes.site_path(@conn, :update, @site)) %>

